@model CogLog.UI.Models.Block.BlockVm

<div class="card">
    <div class="card-header">
        <div class="title-container">

            @await Component.InvokeAsync("BlockClassificationCircle", new
            {
                categoryName = @Model.Category?.Name,
            })

            <h2 class="card-title">@Model.Title</h2>
        </div>
        @if (!string.IsNullOrEmpty(@Model.Url))
        {
            <a href="@Model.Url" class="external-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                    <polyline points="15 3 21 3 21 9"></polyline>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                </svg>
            </a>
        }
    </div>
    
    
        <div class="badge-container" style="display: @(Model.Topics.Count > 0 || Model.Tags.Count > 0 ? "block" : "none");">

            @if (Model.Topics.Count > 0)
            {
                @foreach (var item in Model.Topics)
                {
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id" class="badge">@item.Name</a>
                }
            }

            @if (Model.Tags.Count > 0)
            {
                @foreach (var item in Model.Tags)
                {
                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id" class="badge">@item.Name</a>
                }
            }
        </div>

    <div class="card-content">
        <p>@Model.Content</p>
    </div>

    @if (!string.IsNullOrEmpty(@Model.ExtraContent))
    {
        <div class="collapsible-container">
            <input type="checkbox" id="collapsible-checkbox">
            <label for="collapsible-checkbox" class="collapsible-toggle">
                <span>Show more</span>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </label>
            <div class="collapsible-content">
                <p class="card-content">
                    @Model.ExtraContent
                </p>
            </div>
        </div>
    }

</div>