@using CogLog.UI.Services.Base
@model IEnumerable<BrainBlockVm>

@{
    ViewData["Title"] = "Cog Log";
}

<header>
    <h1>Adam's Cog Log</h1>
    <p>A collection of learnings, questions and thoughts.</p>
</header>

<div class="brain-block-list">

    @foreach (var item in Model)
    {
      
        <div class="brain-block @(@item.Variant == BrainBlockVariantEnum._2 ? "thought-block" : @item.Variant == BrainBlockVariantEnum._1 ? "question-block" : "")">
            <div class="brain-block-title-container">
                <h3>
                    @Html.DisplayFor(modelItem => item.Topic!.Logo)
                    @Html.DisplayFor(modelItem => item.Title)
                </h3>
                @if (User.IsInRole("Administrator"))
                {
                    <div>➚</div>
                }
            </div>
            <div class="brain-block-content-container">
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
            </div>
            <div class="brain-block-date">@DateOnly.FromDateTime(@item.DateAdded)</div>
            
        </div>
    }
    
   
</div>

@if (User.IsInRole("Administrator"))
{
    <button class="fab">
        <a asp-action="Create">
            <svg width="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.75 2.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
                    fill="var(--purple-50)"/>
            </svg>
        </a>
    </button>
}



