@using Vonavulary.App.Constants
@model WordVm

<div class="card">
    <div class="card-header">
        <div class="card-header-top">

                @if (User.IsInRole(AuthConstants.Roles.Administrator))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="card-title">@Model.Spelling</a>
                }
                else
                {
                    <div class="card-title">@Model.Spelling</div>
                }
                <div class="card-info-container">
                    <div>•</div>
                    <div >@Model.PartOfSpeechDisplay</div>
                    <div>•</div>
                    <div >@DateOnly.FromDateTime(@Model.LearnedAt).ToString("M/d/yy")</div>
                </div>
        </div>
      
    </div>

    <div class="card-content">
        @Model.Definition
    </div>

</div>