@model SubjectDetailsVm

<div class="page-header">
    <h1>@Model.CapitalizedName</h1>
    <a asp-action="Edit" asp-route-id="@Model.Id">(edit)</a>
</div>

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <div class="page-description">@Model.Description</div>
}


<div class="section-header">
    <h2>Topics</h2>
    <a asp-controller="Topics" asp-action="Create" asp-route-subjectId="@Model.Id">+</a>
</div>


<ul class="inline-list">
    @foreach (var item in Model.Topics)
    {
        <li >
            <a  asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

<div class="section-header">
    <h2>Tags</h2>
    <a asp-controller="Tags" asp-action="Create" asp-route-subjectId="@Model.Id">+</a>
</div>


<ul class="inline-list">
    @foreach (var item in Model.Tags)
    {
        <li >
            <a  asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

