@model SubjectDetailsVm
@{
    ViewData["Title"] = "Subject Details";
}

<header>
    <h1>@Model.CapitalizedName</h1>
</header>

<div class="section-header">
    <h2>Topics</h2>
</div>


<ul class="hierarchy-list">
    @foreach (var item in Model.Topics)
    {
        <li class="hierarchy-item">
            <a class="hierarchy-link" asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

<div class="section-header">
    <h2>Tags</h2>
</div>


<ul class="hierarchy-list">
    @foreach (var item in Model.Tags)
    {
        <li class="hierarchy-item">
            <a class="hierarchy-link" asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

@await Component.InvokeAsync("FloatingActionButton", new {actionName = "Edit", routeId = Model.Id})
