<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/blocks.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/hierarchy.css" asp-append-version="true"/>
</head>
<body>

<div class="content-container">
   
    <main role="main">
        <header>
            <nav class="navbar">
                <div class="navbar-container">
                    <div class="navbar-toggle" id="navbar-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="navbar-menu" id="navbar-menu">
                        <li class="navbar-item">
                            <a class="navbar-link @(ViewContext.RouteData.Values["controller"].ToString() == "Blocks" ? "active" : "")"
                               asp-controller="Blocks" asp-action="Index">Blocks</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link @(ViewContext.RouteData.Values["controller"].ToString() == "Categories" ? "active" : "")"
                               asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link @(ViewContext.RouteData.Values["controller"].ToString() == "Subjects" ? "active" : "")"
                               asp-controller="Subjects" asp-action="Index">Subjects</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link @(ViewContext.RouteData.Values["controller"].ToString() == "Topics" ? "active" : "")"
                               asp-controller="Topics" asp-action="Index">Topics</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link @(ViewContext.RouteData.Values["controller"].ToString() == "Tags" ? "active" : "")"
                               asp-controller="Tags" asp-action="Index">Tags</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>